                        <div class="grid-x">
                            <div class="medium-2">
                                &#20;
                            </div>
                            <div class="medium-8 small-12 text-center layout-motto">
                                <h6><i>The best way to "learn a thing", is just to "build a thing".</i></h6>
                            </div>
                            <div class="medium-2 small-12 layout-link">
                                <ul class="menu align-center">
                                    <li><a href="https://weibo.com/pubghades"><i class="fa fa-weibo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="grid-x">
                            <div class="medium-12 small-12 layout-nav">
                                <ul class="menu align-center">
                                    <li><a href="https://weibo.com/u/6167846255"><i class="fa fa-home"></i> Intro</a></li>
                                    <li><a href="/archive"><i class="fa fa-archive"></i> Archive</a></a></li>
                                    <li><a href="#"><i class="fa fa-user"></i> About</a></a></li>
                                </ul>
                            </div>
                        </div>