<!DOCTYPE html>
<html>
    <head>
        <meta name="google-site-verification" content="c04yo9pJDZ4QKMTNwhei00s21Jp2ONHXOw8DDIQeZd8" />
        <title>{% if post.title %}{{ post.title }}{% elsif page.title %}kilig.cn - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/foundation.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/app.css">
        <link rel="stylesheet" href="/static/css/gruvbox-dark.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119872075-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-119872075-1');
        </script>
    </head>

    <body>
      <div style="z-index:-1;width:100%;height:100%;background-repeat:repeat;
               background-attachment:scroll;">
            <img src="/images/photo-1522143804971-93c748148fbd.jpg" width="100%" height="100%" />
      </div>
        <div class="grid-container fluid">
            <div class="grid-x">
                <div class="large-6 large-offset-3 medium-10 medium-offset-1 small-12">
                    <div class="card">
{% include header.html %}
                    </div>

                    <div class="card">
{{ content }}
                    </div>

                    <div class="card">
{% include footer.html %}
                    </div>
                </div>
            </div>
        </div>
        
        <script src="/static/js/vendor/jquery.min.js"></script>
        <script src="/static/js/vendor/foundation.min.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/highlight.min.js"></script>
        <script>
            hljs.initHighlightingOnLoad()
            console.log('done')
        </script>
    </body>
</html>