<!DOCTYPE html>
<html>
    <head>
        <title>{% if post.title %}{{ post.title }}{% elsif page.title %}kilig.cn - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/foundation.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/app.css">
        <link rel="stylesheet" href="/static/css/gruvbox-dark.css">

    </head>

    <body>
        <div class="grid-container fluid">
            <div class="grid-x">
                <div class="large-6 large-offset-3 medium-10 medium-offset-1 small-12">
                    <div class="card">
{% include header.html %}
                    </div>

                    <div class="card">
{{ content }}
                    </div>

                    <div class="card">
{% include footer.html %}
                    </div>
                </div>
            </div>
        </div>
        
        <script src="/static/js/vendor/jquery.min.js"></script>
        <script src="/static/js/vendor/foundation.min.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/highlight.min.js"></script>
        <script>
            hljs.initHighlightingOnLoad()
            console.log('done')
        </script>
    </body>
</html>