<!DOCTYPE html>
<html>
    <head>
        <title>{% if post.title %}{{ post.title }}{% elsif page.title %}kilig.cn - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/foundation.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/app.css">
        <link rel="stylesheet" href="/static/css/gruvbox-dark.css">
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript">
         wx.config({
           debug: false,  //调式模式，设置为ture后会直接在网页上弹出调试信息，用于排查问题
           appId: 'wx910b80a91781c9df',
           timestamp: {{ timestamp }},
           nonceStr: '{{ nonceStr }}',
           signature: '{{ signature }}',
           jsApiList: [  //需要使用的网页服务接口
               'checkJsApi',  //判断当前客户端版本是否支持指定JS接口
               'onMenuShareTimeline', //分享给好友
               'onMenuShareAppMessage', //分享到朋友圈
               'onMenuShareQQ',  //分享到QQ
               'onMenuShareWeibo' //分享到微博
           ]
         });
         wx.ready(function () {   //ready函数用于调用API，如果你的网页在加载后就需要自定义分享和回调功能，需要在此调用分享函数。//如果是微信游戏结束后，需要点击按钮触发得到分值后分享，这里就不需要调用API了，可以在按钮上绑定事件直接调用。因此，微信游戏由于大多需要用户先触发获取分值，此处请不要填写如下所示的分享API
                    // 1 判断当前版本是否支持指定 JS 接口，支持批量判断
                        wx.checkJsApi({
                            jsApiList: [
                              'onMenuShareAppMessage'
                            ],
                            success: function (res) {
                              //alert(JSON.stringify(res));
                            }
                        });
        wx.onMenuShareTimeline({  //例如分享到朋友圈的API  
           title: 'CSinLA.com', // 分享标题
           link: 'http://www.csinla.com', // 分享链接
           imgUrl: 'http://www.csinla.com/media/bg.jpg', // 分享图标
           success: function () {
               // 用户确认分享后执行的回调函数
           },
           cancel: function () {
               // 用户取消分享后执行的回调函数
           }
        });
        wx.onMenuShareAppMessage({
            title: 'CSinLA.com', // 分享标题
            desc: '洛杉矶留学生咨询就上CSinLA.com', // 分享描述
            link: 'http://www.csinla.com', // 分享链接
            imgUrl: 'http://www.csinla.com/media/bg.jpg', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () { 
                // 用户确认分享后执行的回调函数
            },
            cancel: function () { 
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareQQ({
            title: 'CSinLA.com', // 分享标题
            desc: '洛杉矶留学生咨询就上CSinLA.com', // 分享描述
            link: 'http://www.csinla.com', // 分享链接
            imgUrl: 'http://www.csinla.com/media/bg.jpg', // 分享图标
            success: function () { 
               // 用户确认分享后执行的回调函数
            },
            cancel: function () { 
               // 用户取消分享后执行的回调函数
            }
        });
        }); 
        wx.error(function (res) {
         alert(res.errMsg);  //打印错误消息。及把 debug:false,设置为debug:ture就可以直接在网页上看到弹出的错误提示
        });
        </script>
    </head>

    <body>
      <div style="position:absolute;z-index:-1;width:100%;height:100%;">
            <img src="/images/photo-1522143804971-93c748148fbd.jpg" width="100%" height="100%" />
      </div>
        <div class="grid-container fluid">
            <div class="grid-x">
                <div class="large-6 large-offset-3 medium-10 medium-offset-1 small-12">
                    <div class="card">
{% include header.html %}
                    </div>

                    <div class="card">
{{ content }}
                    </div>

                    <div class="card">
{% include footer.html %}
                    </div>
                </div>
            </div>
        </div>
        
        <script src="/static/js/vendor/jquery.min.js"></script>
        <script src="/static/js/vendor/foundation.min.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/highlight.min.js"></script>
        <script>
            hljs.initHighlightingOnLoad()
            console.log('done')
        </script>
    </body>
</html>